<app-header>
  <span titulo>Cadastro do Usuário</span>
  <ion-button icon-botao [routerLink]="'/login'" botao>
    <ion-icon name="close-outline" size="large"></ion-icon>
  </ion-button>
</app-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Nome" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Telefone" type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="CPF" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="E-mail" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Senha" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Confirme a Senha" type="password"></ion-input>
  </ion-item>

  <ion-button [routerLink]="'/login'" expand="block" class="custom-button">
    Cadastrar
  </ion-button>

</ion-content>
