<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Opções do menu-->
<ion-list>
  <ion-menu-toggle auto-hide="true">
    <ion-item button [routerLink]="'/produtos'">Produtos</ion-item>
  </ion-menu-toggle>

  <!-- Sub menu-->
  <ion-accordion-group *ngIf="isAdmin$ | async">
    <ion-accordion>
      <ion-item slot="header">
        Opções de administrador
      </ion-item>

      <!--Opções do sub menu-->
      <ion-list slot="content" class="submenu">
        <ion-menu-toggle auto-hide="true">
          <ion-item button [routerLink]="'/cadastro-produto'">Cadastro de Produtos</ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item button [routerLink]="'/cadastro-barbeiro'">Cadastro de Barbeiro</ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item button [routerLink]="'/cadastro-servico'">Cadastro de Serviços</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-menu-toggle auto-hide="true">
    <ion-item button (click)="logout()">Sair</ion-item>
  </ion-menu-toggle>
</ion-list>
