<app-header>
  <span titulo>{{ modoEdicao ? 'Editar Barbeiro' : 'Cadastro do Barbeiro' }}</span>
  <ion-button icon-botao [routerLink]="'/painel-barbeiros'"  botao>
    <ion-icon name="close-outline" size="large"></ion-icon>
  </ion-button>
</app-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="salvarOuAtualizar()">

    <!-- Nome -->
    <ion-item>
      <ion-input label="Nome Completo" type="text" formControlName="nome"></ion-input>
    </ion-item>
    <div *ngIf="form.get('nome')?.invalid && form.get('nome')?.touched" class="erro-texto">
      Nome é obrigatório.
    </div>

    <!-- Telefone -->
    <ion-item>
      <ion-input label="Telefone" type="tel" formControlName="telefone"></ion-input>
    </ion-item>
    <div *ngIf="form.get('telefone')?.touched && (!form.get('telefone')?.value || !isTelefoneValido())" class="erro-texto">
      Telefone inválido. Infomre um telefone valido (99) 9 9999-9999.
    </div>

    <!-- CPF -->
    <ion-item>
      <ion-input label="CPF" type="text" formControlName="cpf"></ion-input>
    </ion-item>
    <div *ngIf="form.get('cpf')?.touched && (!form.get('cpf')?.value || !isCpfValido())" class="erro-texto">
      CPF inválido. Deve conter 11 dígitos.
    </div>

    <!-- E-mail -->
    <ion-item>
      <ion-input label="E-mail" type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="erro-texto">
      <span *ngIf="form.get('email')?.errors?.['required']">E-mail é obrigatório.</span>
      <span *ngIf="form.get('email')?.errors?.['email']">E-mail inválido.</span>
    </div>

    <!-- Erro geral -->
    <div *ngIf="erroCadastro" class="erro-texto">
      {{ erroCadastro }}
    </div>

    <ion-button type="submit" expand="block" class="custom-button" [disabled]="form.invalid">
      {{ modoEdicao ? 'Salvar' : 'Cadastrar' }}
    </ion-button>
  </form>
</ion-content>
