<app-header>
  <span titulo>Cadastro de Produtos</span>
  <ion-button icon-botao [routerLink]="'/'" botao>
    <ion-icon name="close-outline" size="large"></ion-icon>
  </ion-button>
</app-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Nome do Produto" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Marca" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Descrição" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Preço" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Código de Barras / SKU" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Fornecedor" type="text"></ion-input>
  </ion-item>

  <ion-button [routerLink]="'/'" expand="block" class="custom-button">
    Cadastrar
  </ion-button>
</ion-content>
