ion-content {
  --background: rgba(19, 22, 31, 1);
  --color: #ffffff;
}

ion-item {
  --border-color: transparent;
  margin-bottom: 20px;
  --border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.08);
  --background: rgba(30, 35, 46, 1);
}

ion-input {
  --color: #ffffff;
  padding-start: 10px;
  padding-end: 10px;
}

ion-input[label] {
  --label-color: #a0a0a0;
  --label-font-weight: 500;
}

.custom-button {
  margin-top: 25px;
  --min-height: 50px;
  --border-radius: 25px;
  --background: #009688;
  box-shadow: 0 4px 8px rgba(56, 128, 255, 0.3);
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.custom-button:hover,
.custom-button:active {
  --background: #3373e6;
  box-shadow: 0 6px 12px rgba(56, 128, 255, 0.4);
  transform: translateY(-1px);
}

ion-icon{
  color: #ffffff;
}

