<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Primeiro aplicativo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Conteúdo normal -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Daniel</ion-card-title>
      <ion-card-subtitle>Bem-vindo à barbearia</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        <a target="_blank" rel="noopener noreferrer"
           href="https://ionicframework.com/docs/components">
          UI Components
        </a>
      </p>
    </ion-card-content>
  </ion-card>

   <ion-button
    [routerLink]="'/escolher-servico/'"
    shape="round"
    color="primary"
    style="
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    ">
    Agendar
  </ion-button>

</ion-content>
